$primary: #005b6d;
$secondary: #65b891;
$tertiary: #493657;

$light: #f4f4f4;
$dark: #111111;

$danger: #bb0000;
$warning: #ffae00;
$success: #009944;

body {
    margin: 0;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: $primary;
    margin: 0;
    padding: 0 20%;
    height: 5rem;

    h1 {
        color: $light;
        padding: 1rem;
        margin: 0;
        display: inline-block;
        font-size: 2rem;
    }

    nav {
        float: right;
        
        ul {
            list-style-type: none;

            li {
                display: inline-block;
                font-size: 1rem;
                padding: 0.85rem;

                a {
                    color: $light;
                    text-decoration: none;
                    padding: 1rem;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                &.active a {
                    background-color: $light;
                    border-radius: 0.5rem;
                    color: $primary;
                }
            }
        }
    }
}

main {
    background-color: $light;
    padding: 1rem 15%;
    min-height: 100vh;
}